挖掘篇_0_数据挖掘导论和信贷模型.ipynb 挖掘篇_1_回归模型和房价预测.ipynb 挖掘篇_2_感知机和逻辑回归.ipynb 挖掘篇_3_决策树和集成学习.ipynb 挖掘篇_4_特征工程.ipynb 挖掘篇_5_参数调优.ipynb 挖掘篇_6_无监督学习.ipynb 挖掘篇_7_文本挖掘.ipynb 挖掘篇_8_神经网络.ipynb 挖掘篇_9_深度学习.ipynb
.ipynb_checkpoints/
_book/
node_modules/
